<html>
	<head>
		<title>Login and register</title>
	</head>
	<body class="index_body">
		<div class='row'>
			<div class='col-9 image_div'>
				<%= image_tag("PicsArt.jpg", :class => 'image') %>
			</div>
			<div class='col-2'>
				<%= link_to 'Register',  '/register', :class => 'btn btn-warning'  %>
			</div>
			<div class='col-1'>
				<%= link_to 'Login',  '/login', :class => 'btn btn-warning'  %>
			</div>
		</div>
	</body>
</html>
