<html>
    <body class='index_body'>
        <div class='shade'>
            <h2 class='text-center bg-info text-light'>ADD IMAGE</h2> 
            <hr>
            <%= render 'form', post: @post %>         
        </div>
    </body>
</html>


 
